<div class="modal-body">
  <h2 class="modal-header">Service features</h2>
  <div class="instructions">
    <div>
      <p>
        DaysBefore.ca helps you to calculate the date when you can apply for Canadian citizenship.
      </p>
      <p>
        As of now, a candidate is required to reside in Canada for <span class="emphasized">1035</span> days before
        applying for a citizenship.
      </p>
      <p>
        However, all the trips abroad must be subtracted from the number of days of your stay.
      </p>
      <p>
        This service will help you to calculate when you can apply for Canadian citizenship including all of your trips
        outside Canada.
      </p>
    </div>

    <div class="block">
      <h3>How to use the service</h3>
      <div>
        <ol>
          <li>Enter the landing date</li>
          <li>Enter the information about your trips abroad</li>
          <li>Get the date when to apply for Canadian citizenship</li>
        </ol>
      </div>
    </div>
  </div>
</div>
