<nav class="navbar navbar-light bg-light">
  <a class="navbar-brand" href="/">
    <img src="assets/logo.png" width="30" height="30" class="d-inline-block align-top" alt="">
    Days before.ca
    <p class="brand-moto">
      Calculate when to apply for Canadian citizenship with us
    </p>
  </a>
  <ul class='nav nav-pills'>
    <li><a class='nav-link' routerLinkActive='active' [routerLink]="['/welcome']">How to use</a></li>
    <li><a class='nav-link' routerLinkActive='active' [routerLink]="['/calculate-date']">Calculate The Date</a></li>
  </ul>
</nav>


<div class='container'>
  <router-outlet></router-outlet>
</div>

