<div class="card-body col-sm-12">
  <h1 class="card-title">Step 1: Landing date</h1>
  <div class="card-text">
    Please provide the exact date of landing in Canada with a Permanent residency
    or the date when you were granted a Permanent Resident card.
  </div>
  <br/>

  <form [formGroup]="formGroup">
    <div class="container align-content-md-center col-sm-6">
      <app-date-selector
        [formControlTitle]="'landingDate'"
        [parentForm]="formGroup"
        [formError]="'Landing date is required'"
      ></app-date-selector>
    </div>
  </form>

  <div *ngIf="isValidDate && landingDate">
    <span *ngIf="calculateResidencyTime() > 0; else  futureLanding ">
      So far you have lived in Canada for about {{calculateResidencyTime()}} days.
    </span>
    <!-- This template is declared locally and used by else block above -->
    <ng-template #futureLanding>
      <span>
        Your landing date is in the future
      </span>
    </ng-template>

    <br>
    Based on the current regulations, an applicant must live in Canada for 1,095 days.
    <hr>
    <div class="align-content-md-center">
      <button class="btn btn-outline-success" (click)="redirectToTripsStage()">Enter your trips</button>
    </div>
  </div>
</div>
