<div class="card-body">
  <h1 class="card-title">Step 1: Landing date</h1>
  <div class="card-text">
    Please provide the exact date of landing in Canada with a Permanent residency
    or the date when you were granted a Permanent Resident card.
  </div>
  <br/>

  <form [formGroup]="formGroup">
    <div class="container align-content-md-center" style="width: 50%">
      <app-date-selector
        [formControlTitle]="'landingDate'"
        [parentForm]="formGroup"
        [formWarning]="'futureDateWarning'"
        [validationWarningMessage]="'Landing date you entered is in the future'"
      ></app-date-selector>
    </div>
    <div class="modal-footer">
      <button type="submit" class="btn btn-light" [disabled]="!formGroup.valid"
              (click)="onSubmit()">
        Submit
      </button>
    </div>
  </form>
</div>

<div class="card-body" *ngIf="landingDate">
  So far you have lived in Canada for about {{calculateResidencyTime()}} days.
  <br>
  Based on the current regulations, an applicant must live in Canada for 1,095 days.
  <hr>
  <div style="padding-left: 45%">
    <button class="btn btn-outline-success" (click)="redirectToTripsStage()">Enter your trips</button>
  </div>
</div>
