<div class="form-group">
  <div [formGroup]="parentForm" class="input-group col-sm-12">
    <label *ngIf="label" class="control-label">{{label}}</label>
    <input class="form-control form-control-lg" placeholder="yyyy-mm-dd" name="dp"
           [formControlName]="formControlTitle"
           [ngClass]="{'is-invalid':formModel?.invalid && formModel?.touched}"
           ngbDatepicker #d="ngbDatepicker"
           id="{{formControlTitle}}"
    >
    <div class="input-group-append">
      <button class="btn btn-outline-secondary fa fa-calendar"
              (click)="d.toggle()"
              type="button"></button>
    </div>
    <span class="invalid-feedback" *ngIf="formControl.errors">
      {{validationWarningMessage}}
    </span>
    <!--    <span class="invalid-feedback" *ngIf="formControl.warnings && formControl.warnings[formWarning]">-->
    <!--      {{validationWarningMessage}}-->
    <!--   </span>-->
  </div>
</div>
