<ng-template #content let-modal>
  <div class="modal-header">
    <h4 class="modal-title">Add new trip</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>

  <div class="modal-body">
    <div class="modal-content">
      <div>
        <div>Enter the destination country</div>
        <div>
          <input type="text" [(ngModel)]='newCountryName'>
        </div>
      </div>
      <div>
        <div>Enter the date of departure from Canada</div>
        <div>
          <app-date-selector (onDatePicked)="handleSelectedDepartureDate($event)"></app-date-selector>
        </div>
      </div>
      <div>
        <div>Enter the date of arrival to Canada</div>
        <div>
          <app-date-selector (onDatePicked)="handleSelectedArrivalDate($event)"></app-date-selector>
        </div>
      </div>
      <div>
        <div>Enter the trip notes</div>
        <div>
          <input type="text" [(ngModel)]="newTripNotes">
        </div>
      </div>
    </div>
  </div>

  <div class="modal-footer">
    <button type="button" class="btn btn-light" (click)="modal.close('Close click')">Close</button>
    <button type="button" class="btn btn-light" (click)="saveTrip(); modal.close('Close click')">Submit</button>
  </div>
</ng-template>

<button class="btn btn-outline-primary mb-2 mr-2" (click)="openLg(content)">Large modal</button>
