<ng-template #content let-modal>
  <div class="modal-header">
    <h4 class="modal-title">Add new trip</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>

  <div class="modal-body">
    <div>
      <div class="form-group">
<!--        TODO refactor into a separate component-->
        <label for="typeahead-focus">Enter country</label>
        <input
          id="typeahead-focus"
          type="text"
          class="form-control form-control-lg"
          [(ngModel)]="model"
          [ngbTypeahead]="search"
          (focus)="focus$.next($any($event).target.value)"
          (click)="click$.next($any($event).target.value)"
          #instance="ngbTypeahead"
          [resultFormatter]="formatter"
        />
<!--        <app-searchable-input [dataProvider]="countryService.getAll()" [searchByField]="'name'"-->
<!--                              [(ngModel)]='newCountryName'-->
<!--                              [id]="'countryName'" [labelText]="'Enter country'"></app-searchable-input>-->
      </div>
    </div>
    <div>
      <div class="form-group">
        <label for="departureDate" class="label-default">Enter the date of departure from Canada</label>
        <app-date-selector [fieldId]="'departureDate'"
                           (onDatePicked)="handleSelectedDepartureDate($event)"></app-date-selector>
      </div>
    </div>
    <div>
      <div class="form-group">
        <label for="arrivalDate" class="label-default">Enter the date of arrival to Canada</label>
        <app-date-selector [fieldId]="'arrivalDate'"
                           (onDatePicked)="handleSelectedArrivalDate($event)"></app-date-selector>
      </div>
    </div>
    <div>
      <div class="form-group">
        <label for="notes" class="label-default">Enter the trip notes</label>
        <input type="text" class="form-control form-control-lg" id="notes" [(ngModel)]="newTripNotes"
               placeholder="Anything that can help you recall the trip later">
      </div>
    </div>
  </div>

  <div class="modal-footer">
    <button type="button" class="btn btn-light" (click)="modal.close('Close click')">Close</button>
    <button type="button" class="btn btn-light" (click)="saveTrip(); modal.close('Close click')">Submit</button>
  </div>
</ng-template>

<button class="btn btn-outline-primary mb-2 mr-2" (click)="openNewTripModal(content)">Large modal</button>
