<ng-template #content let-modal>
  <div class="modal-header">
    <h4 class="modal-title">Add new trip</h4>
    <button type="button" class="close" aria-label="Close" (click)="onClose()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>

  <div class="modal-body col-sm-12">
    <form [formGroup]="formGroup" (validSubmit)="onSubmit()" autocomplete="off">
      <div class="form-group">
        <!--        TODO refactor into a separate component-->
        <label class="control-label required">Select country</label>
        <input
          formControlName="country"
          id="typeahead-focus"
          type="text"
          class="form-control form-control-lg"
          [ngbTypeahead]="search"
          [inputFormatter]="formatter"
          [resultFormatter]="formatter"
          [resultTemplate]="rt"
          required
        />
        <ng-template #rt let-r="result" let-t="term">
          <ngb-highlight [result]="r.name" [term]="t"></ngb-highlight>
          <p>{{r['alpha3']}}</p>
        </ng-template>
        <!--        <app-searchable-input [dataProvider]="countryService.getAll()" [searchByField]="'name'"-->
        <!--                              [(ngModel)]='newCountryName'-->
        <!--                              [id]="'countryName'" [labelText]="'Enter country'"></app-searchable-input>-->
      </div>

      <div class="form-group">
        <app-date-selector [label]="'Departure date'"
                           [formControlTitle]="'departureDate'"
                           [parentForm]="formGroup"></app-date-selector>
        <span class="invalid-trip-dates" *ngIf="formGroup.touched && formGroup.errors?.invalidateTripDates">
          Departure date must be before arrival
        </span>
      </div>
      <div class="form-group">
        <app-date-selector [label]="'Arrival date'"
                           [formControlTitle]="'arrivalDate'"
                           [parentForm]="formGroup"></app-date-selector>
      </div>
      <div class="form-group">
        <label class="control-label">Trip notes</label>
        <input type="text" class="form-control form-control-lg"
               placeholder="Anything to help you recall the trip" formControlName="notes">
      </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-light" (click)="onClose()">Close</button>
        <button type="submit" class="btn btn-light" [disabled]="!formGroup.valid">Submit</button>
      </div>
    </form>
  </div>

</ng-template>

<button class="btn btn-outline-primary mb-2 mr-2" (click)="openNewTripModal(content)">Add trip</button>
