<div class="card-body" *ngIf="landingDate">
  <h1 class="card-title">Please enter the information about your trips abroad
    since {{landingDate.format('MMM DD, yyyy')}}
  </h1>

  <div style="width: 100%">
    <table class="table table-striped">
      <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col" sortable="name" (sort)="onSort($event)">Country</th>
        <th scope="col" sortable="name" (sort)="onSort($event)">Departure Date</th>
        <th scope="col" sortable="area" (sort)="onSort($event)">Arrival Date</th>
        <th scope="col" sortable="population" (sort)="onSort($event)">Notes</th>
      </tr>
      </thead>

      <tbody>
      <tr *ngFor="let trip of trips; let i = index">
        <th scope="row">{{i + 1}}</th>
        <td>
          <div *ngIf="trip.country && trip.country.name">
            {{trip | json}}
            <img *ngIf="trip.country.fileUrl" [src]="'https://' + trip.country.fileUrl" class="mr-2"
                 style="width: 20px">
            {{ trip.country.name}}
          </div>
        </td>
        <td>{{ trip.departureDate | date : 'mediumDate'}}</td>
        <td>{{ trip.arrivalDate | date  : 'mediumDate'}}</td>
        <td>{{ trip.notes}}</td>
      </tr>
      </tbody>
    </table>
  </div>

  <div class="align-self-center">
    <app-new-trip (onTripAdded)="refreshComponent($event)"></app-new-trip>
  </div>
</div>
