<div class="card-body col-sm-12 col-lg-12" *ngIf="landingDate">
  <h1 class="card-title">Step 2: Information about your trips
    since <p style="font-style: italic">{{landingDate.format('MMM DD, yyyy')}}</p>
  </h1>

  <div class="col-sm-12" style="padding-left: 0; padding-right: 0">
    <table class="table table-striped">
      <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col" sortable="country" (sort)="onSort($event)">Country</th>
        <th scope="col" sortable="departureDate" (sort)="onSort($event)">Departure Date</th>
        <th scope="col" sortable="arrivalDate" (sort)="onSort($event)">Arrival Date</th>
        <th scope="col">Notes</th>
        <th scope="col"></th>
      </tr>
      </thead>

      <tbody>
      <tr *ngFor="let trip of trips; let i = index">
        <th scope="row">{{trip.id + 1}}</th>
        <td>
          <div *ngIf="trip.country && trip.country.name">
            <img *ngIf="trip.country.fileUrl" [src]="'https://' + trip.country.fileUrl" class="mr-2"
                 style="width: 20px">
            {{ trip.country.name}}
          </div>
        </td>
        <td>{{ trip.departureDate | date : 'mediumDate'}}</td>
        <td>{{ trip.arrivalDate | date  : 'mediumDate'}}</td>
        <td>{{ trip.notes}}</td>
        <td>
          <app-edit-trip [trip]="trip" [trips]="trips"></app-edit-trip>
        </td>
      </tr>
      </tbody>
    </table>
  </div>

  <div class="d-flex justify-content-between">
    <div class="col-5 button-margin-left">
      <app-new-trip (onTripAdded)="refreshComponent($event)"></app-new-trip>
    </div>

    <div class="col-5 button-margin-right">
      <button class="btn btn-outline-success" (click)="redirectToCalculationStage()">Calculate application date!
      </button>
    </div>
  </div>
</div>
